# Secret values may also be exported in the process environment.
YNAB_API_TOKEN=
AMAZON_USERNAME=
AMAZON_PASSWORD=
AMAZON_OTP_SECRET_KEY=
AMAZON_BUDGET_NAME=
AMAZON_DOMAIN=amazon.com
GMAIL_ADDRESS=
GMAIL_APP_PASSWORD=
SPEND_WATCH_RECIPIENTS=
